
/* *************** CSS Variables ******************* */
:root {
    --alternate-background: #87CEEB;
    --primary-accent: #D5A220;
    --hover-primary-accent: #E5B230;
    --primary-font: #333333;
    --primary-font-hover: #444444;
    --primary-background: whitesmoke;
    --primary-background-hover: white;
    --header-footer-background: #333333;
    --header-footer-font: whitesmoke;
}

/* ******************* Reset *********************** */
html {
    font-size: 24px;
}

* {
    margin: 0;
    padding: 0;
}

p {
    margin: 0.5rem 5rem;
}

h2 {
    text-align: center;
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

input, textarea {
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}


/* ****************** Page level styles *********************** */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-font);
    background-color: var(--primary-background);
    min-width: 350px;
}

label {
    margin-bottom: 0.25rem;
}

/* *************** HEADER and FOOTER ******************* */
.page-footer {
    color: var(--header-footer-font);
    background-color: var(--header-footer-background);
}

.page-footer {
    padding: 2rem 1.5rem;
}

.footer-links-container {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.footer-link-item {
    margin: 0.5rem;
}

.page-menu-link {
    color: var(--header-footer-font);
    text-decoration: none;
}

.page-menu-link:hover {
    color: var(--primary-accent);
}

.navbar-brand {
    font-weight: 700;
}

.nav-link {
    text-transform: uppercase;
    color: var(--header-footer-font);
    font-weight: 700;
}

.nav-link:hover {
    color: var(--hover-primary-accent);
}

main {
    margin-top: 55px; /* fixed-top navbar */ 
}

/******************** main ************************/
.section-dark {
    background-color: var(--alternate-background); 
}

.profile {
    text-align: center;
}

.main-section {
    padding: 2.5rem 1.5rem;
}

.profile-image {
    width: 200px;
    border-radius: 50%;
}

.profile-heading {
    margin: 1rem;
}

.profile-tagline {
    margin: 0.5rem;
}

.skill-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skill-card {
    width: 14rem;
}

.skill-list {
    list-style: none;
}

.project-thumbnail-img {
    width: 100%;
}

.project-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.project-item {
    margin: 20px;
}

.project-link {
    text-decoration: none;
    color:var(--primary-font);
    text-shadow: 2px 2px 2px rgba(222, 222, 255, 0.4);
    opacity: 0.8;
}

.project-link:hover {
    color: var(--primary-font-hover);
    text-decoration: underline;
    text-shadow: 2px 2px 3px rgba(222, 222, 255, 0.6);
    opacity: 1;
}



@media screen and (max-width: 992px) {
    html {
        font-size: 18px;
    }

    input,
    textarea {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .skill-card-container {
        flex-direction: column;
        align-items: center;
    }

    .project-list {
        grid-template-columns: 1fr;
    }

    .page-menu-container {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .footer-links-container {
        flex-direction: column;
        align-items: center;
    }

    html {
        font-size: 16px;
    }
}