
/* *************** CSS Variables ******************* */
:root {
    --alternate-background: #87CEEB;
    --primary-accent: #D5A220;
    --hover-primary-accent: #E5B230;
    --primary-font: #333333;
    --primary-background: whitesmoke;
    --header-footer-background: #333333;
    --header-footer-font: whitesmoke;
}

/* ******************* Reset *********************** */
html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}


/* ****************** Page level styles *********************** */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-font);
    background-color: var(--primary-background);
}

/* *************** HEADER and FOOTER ******************* */
.page-header, .page-footer {
    color: var(--header-footer-font);
    background-color: var(--header-footer-background);
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.page-footer {
    padding: 2rem 1.5rem;
}

.footer-links-container {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.footer-link-item {
    margin: 0.5rem;
}

.page-menu-container {
    list-style-type: none;
    display: flex;
    font-weight: 700;
}

.page-menu-item {
    margin: 0.5rem;
}

.page-menu-link {
    color: var(--header-footer-font);
    text-decoration: none;
}

.page-menu-link:hover {
    color: var(--primary-accent);
}

/******************** main ************************/
.bg-dark {
    background-color: var(--alternate-background);
}

.profile {
    text-align: center;
}

.main-section {
    padding: 2.5rem 1.5rem;
}

.profile-image {
    width: 200px;
    border-radius: 50%;
}

.profile-heading {
    margin: 1rem;
}

.profile-tagline {
    margin: 0.5rem;
}

.skill-card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill-card {
    border: 5px double var(--primary-font);
    padding: 1rem;
    width: 250px;
    margin: 1rem 0;
}

.skill-list {
    list-style-type: none;
}